body{
    margin: 0;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    height: 100vh;
}
h2{
    margin:10px;
}
.main{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    position: relative;
}
.start-page{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sheldon{
    max-width: 450px;
    width: 100%;
}
h1{
    font-size: 60px;
}
.start-game{
    align-self: center;
    width: 300px;
    height: 70px;
    font-size: 30px;
    margin-right: 30px;
    margin-top: 100px;
    background-color: rgb(117, 165, 216);
    border-radius: 15px;
    border: 7px solid rgb(46, 72, 99);
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
.start-game:hover{
    border: 7px solid rgb(117, 165, 216);
    background-color: rgb(46, 72, 99);
}
.start-game:active{
    border: 7px solid rgb(154, 149, 198);
    background-color: rgb(76, 14, 128);
}
.right-side{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.sign-list{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items:center;
}
.okay{
    background-color: transparent;
    color: white;
    border: 3px solid rgb(58, 37, 164);
    width: 200px;
    height: 70px;
    font-size: 20px;
    cursor: pointer;
}
.okay:hover{
    background-color: rgb(58, 37, 164);
}
.okay:active{
    background-color: white;
    color:rgb(58, 37, 164);
}

.sign-image{
    border: 10px solid rgba(0, 0, 255, 0);
    cursor: pointer;
    width: 80px;
    height: 80px; 
    border-radius: 50%;
}
.choice-sign{
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border: 10px solid rgba(0, 0, 255, 0);
    cursor: pointer;
}

h2{
    font-size: 50px;
}
.sign-image:hover{
    border: 10px solid blue;
}
.sign-image:active{
    border: 10px solid rgb(58, 116, 53);
}
.play{
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
   align-items: center;
   position: relative;
}
.cartoon{
    width: 300px;
    margin-bottom: 100px;
}
.choice-sign{
    border: 7px solid white;
}

.table{
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.timer{
    font-size: 30px;
    text-align: center;
    width: 650px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.time{
    margin: 0;
}

.try{
    font-size: 20px;
    color: white;
    margin-top: 50px;
    width: 200px;
    height: 70px;
    background-color: rgb(117, 165, 216);
    border: 5px solid rgba(255, 255, 255, 0);
    cursor: pointer;
}
.try:hover{
    border: 5px solid rgba(255, 255, 255, 1);
}
.try:active{
    background-color: rgb(76, 14, 128);
}
.footer{
    flex:none;
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    align-self: center;
}
.logo{
    width: 100px;
}
.logo:hover{
fill: rgb(67, 109, 163);
}
a{
    color: white;
    text-decoration: none;
}
span{
color: white;
}
a:hover{
    color: rgb(66, 102, 143);

}
.change-sign{
    position: absolute;
    left:0;
    top: 0;
}
.change-sign .sign-image{
    width: 100px;
    display: flex;
    flex-direction: column;
}
.results-table{
    background-color:rgba(0, 0, 0, 0.486);
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.results-desk{
    background-color: rgb(43, 66, 114);
    border-radius: 10px;
    border: 5px solid white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
}





.display{
    display: none;
}

.results{
    position: absolute;
    font-size: 20px;
    color: white;
    top: 40px;
    right: 40px;
    width: 100px;
    height: 70px;
    background-color: rgb(117, 165, 216);
    border: 5px solid rgba(255, 255, 255, 0);
    cursor: pointer;
}
.results:hover{
    border: 5px solid rgba(255, 255, 255, 1);
}
.results:active{
    background-color: rgb(76, 14, 128);
}

.result-image{
    opacity: 0;
}